<nav th:fragment="content" class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0"
     xmlns:th="http://www.w3.org/1999/xhtml">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" th:href="@{/home}">[[${session.username}]]</a>
    <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" th:href="@{/index}">Sign out</a>
        </li>
    </ul>
</nav>